<% if(!user) { %>
    <a href="/register">Register</a> 
    <a href="/login">Login</a> 
<% } else { %>
     <form action="/logout" method="POST">
        <label>UserID: <%= user.id %></label>
        <input type="submit" value="Logout">
    </form> 
<% } %>  