<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <% include partials/_header.ejs %>
        <ul>ShortURL is : <%= shortURL %> </ul>
        <ul>LongURL is : <%= longURL %></ul>
        <p><a href= <% longURL %>>LongURL is : <%= longURL %></a></p>
    </body>
</html>