<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <% include partials/_header.ejs %>
        <ul>
            <% for (let key in urls) { %>
                <li><%= key %> --> <%= urls[key] %>
                    <form action="/urls/<%= key %>/delete" method="POST" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>

        
    </body>
</html>