<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
        <% include partials/_header.ejs %>
        <h1>ShortURL is : <%= shortURL %> </h1>
        <!-- <ul>LongURL is : <%= longURL %></ul> -->
        <!-- <p><a href= <% longURL %>>LongURL is : <%= longURL %></a></p> -->

        <form action="/urls/<%= shortURL %>" method="POST" style="display: inline;">
            <input id="longURL" type="text" name="longURL" placeholder="http://">
            <input type="submit" value="Update">
        </form>
    </body>
</html>