<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
    </head>
    <body>
    <% include partials/_header.ejs %>
        <li>shortened list</li>
        <link>shorten
    </body>
</html>